<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716591363413-bijd769qvb4jrvn8ni1fso0o1a3s11c4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716591363413-bijd769qvb4jrvn8ni1fso0o1a3s11c4</string>
	<key>API_KEY</key>
	<string>AIzaSyCpWcV_nRXQS3kKpIS0n-K8nZtjBa6Ulw4</string>
	<key>GCM_SENDER_ID</key>
	<string>716591363413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meghankast.WeatherAppCS4261</string>
	<key>PROJECT_ID</key>
	<string>weathertracker-ed49d</string>
	<key>STORAGE_BUCKET</key>
	<string>weathertracker-ed49d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716591363413:ios:aaeb2266f333bba26a2bdc</string>
</dict>
</plist>